.m-button-vezi-oferte {
    left: 10px;
}

.m-featured-slider.swiper {
    position: relative;
    overflow: hidden !important;
    height: 350px;
    margin: -40px -20px 40px;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

@media only screen and (min-width: 48rem) {
    .m-featured-slider.swiper:hover {
        transform: translateY(-5px);
        box-shadow: var(--article-shadow-hover), 0 0 0 transparent;
    }
}

@media only screen and (min-width: 48rem) {
    .m-featured-slider.swiper {
        width: 100%;
        height: 420px;
        margin: -40px 10px 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 64rem) {
    .m-featured-slider.swiper {
        width: calc(66.66667% - 40px);
        margin: 0 20px 40px;
        overflow: unset;
    }
}

.m-featured-slider:not(:root:root) {
    overflow: hidden !important;
}

.m-featured-slider__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

@media only screen and (min-width: 48rem) {
    .m-featured-slider__list {
        border-radius: 10px;
    }
}

.m-featured-slider_list_item {
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 48rem) {
    .m-featured-slider_list_item {
        border-radius: 10px;
    }
}

.m-featured-article {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-subtle-color);
    z-index: 1;
}

.m-featured-article:hover .m-featured-article__author {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 0 transparent;
}

.m-featured-article__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    background-size: cover;
    opacity: 0.7;
}

.m-featured-article__meta {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
}

@media only screen and (min-width: 48rem) {
    .m-featured-article__meta {
        top: 40px;
        left: 40px;
    }
}

.rtl .m-featured-article__meta {
    left: auto;
    right: 20px;
}

@media only screen and (min-width: 48rem) {
    .rtl .m-featured-article__meta {
        left: auto;
        right: 40px;
    }
}

.m-featured-article__author {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.m-featured-article__author div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
}

.m-featured-article__tag {
    color: #fff;
    letter-spacing: 0.3px;
    font-weight: 700;
    font-size: 1rem;
}

.m-featured-article__ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 24px;
    height: 24px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}

@media only screen and (min-width: 48rem) {
    .m-featured-article__ribbon {
        justify-content: flex-start;
        top: 47px;
        right: 40px;
        width: auto;
        height: 22px;
        padding: 0 7px;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 15px;
    }
}

.m-featured-article__ribbon span {
    display: inline-block;
}

@media only screen and (min-width: 48rem) {
    .m-featured-article__ribbon span:first-of-type {
        font-size: 0.75rem;
        margin-right: 4px;
    }
}

.m-featured-article__ribbon span:last-of-type {
    display: none;
}

@media only screen and (min-width: 48rem) {
    .m-featured-article__ribbon span:last-of-type {
        display: block;
    }
}

.rtl .m-featured-article__ribbon {
    right: auto;
    left: 20px;
}

@media only screen and (min-width: 48rem) {
    .rtl .m-featured-article__ribbon {
        right: auto;
        left: 40px;
    }
}

@media only screen and (min-width: 48rem) {
    .rtl .m-featured-article__ribbon span:first-of-type {
        margin-right: 0;
        margin-left: 4px;
    }
}

.m-featured-article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 120px 20px 20px;
    position: relative;
    z-index: 3;
}

@media only screen and (min-width: 48rem) {
    .m-featured-article__content {
        padding: 125px 40px 40px;
    }
}

.m-featured-article__title {
    color: #fff;
    letter-spacing: 0.4px;
    line-height: 1.3;
    font-size: 1.625rem;
    font-weight: 600;
    margin: 0;
}

@media only screen and (min-width: 48rem) {
    .m-featured-article__title {
        letter-spacing: 0.5px;
        font-size: 2.25em;
        max-width: 80%;
    }
}

.m-featured-article__timestamp {
    display: flex;
    align-items: center;
    color: #fff;
    letter-spacing: 0.2px;
    font-size: 0.875rem;
}

.m-featured-article__timestamp span:nth-child(2) {
    padding: 0 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ascunde partea mărită a imaginii */
}




.h1 {
    text-align: center;
    color: #35005a;
    font-size: 2rem; /* Default font size */
    margin:0;
}

@media (min-width: 600px) {
    .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {
    .h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .h1 {
        font-size: 4rem;
    }
}



.container1{
    position: relative;
    width: 50%;
    aspect-ratio: 5120 / 3413; /* Adjust to the aspect ratio of your image */
    border: 2px solid #35005a;
    background-color: #35005a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgb(255, 248, 64);

    /* Centering using Flexbox */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.container1 h2 {
    margin: 0;
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    color: #35005a;
    background-color: rgb(255, 248, 64); /* Yellow background */
    padding: 3px 3px; /* Reduced space around the text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for better visibility */
}


.container1 {
    transition: transform 0.3s ease; /* Adaugă o tranziție lină */
    
  }
  
  .container1:hover {
    transform: scale(1.05); /* Mărește containerul cu 5% la hover */
    box-shadow: 0 8px 16px rgba(255, 248, 64, 0.2);

  }
  .container2{
    position: relative;
    width: 50%;
    aspect-ratio: 5120 / 3413; /* Adjust to the aspect ratio of your image */
    border: 2px solid #35005a;
    background-color: #35005a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgb(255, 248, 64);

    /* Centering using Flexbox */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.container2 h2 {
    margin: 0;
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    color: #35005a;
    background-color: rgb(255, 248, 64); /* Yellow background */
    padding: 3px 3px; /* Reduced space around the text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for better visibility */
}

.container2 {
    transition: transform 0.3s ease; /* Adaugă o tranziție lină */
    
  }
  
  .container2:hover {
    transform: scale(1.05); /* Mărește containerul cu 5% la hover */
    box-shadow: 0 8px 16px rgba(255, 248, 64, 0.2);

  }

  .flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

/* Responsive Design for Smaller Screens */
@media only screen and (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }
    
    .container1{
        width: 90%; /* Full width for stacking */
        margin-left: 0; /* Adjust margin if needed */
        margin-bottom: 20px; /* Add some space between stacked containers */
        height: 50%;
    } 
    
    .container2 {
        width: 90%; /* Full width for stacking */
        margin-left: 0; /* Adjust margin if needed */
        margin-bottom: 20px; /* Add some space between stacked containers */
        height: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .flex-container {
        flex-direction: column;
    }
    
    .container1{
        width: 90%; /* Full width for stacking */
        margin-left: 0; /* Adjust margin if needed */
        margin-bottom: 20px; /* Add some space between stacked containers */
        height: 50%;
        font-size: 80%;
    } 
    
    .container2 {
        width: 90%; /* Full width for stacking */
        margin-left: 0; /* Adjust margin if needed */
        margin-bottom: 20px; /* Add some space between stacked containers */
        height: 50%;
    }
}

  
.image {
    width: 100%;
    display: block;
    transition: transform 0.3s ease; /* Efect de tranziție lin */
    transform-origin: center; /* Zoom de la centrul imaginii */
    filter: brightness(30%);
}

.light {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, transparent 70%);
    pointer-events: none;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%); /* Muta centrul luminii la coordonate */
    opacity: 0;
    transition: opacity 0.2s ease;
}  

.container:hover .light {
    opacity: 1; /* Lumina apare când cursorul este peste imagine */
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  
  
  }
  
  .mySlides {
    display: none;
  }
  
  .mySlides img {
    width: 100%;
   
  }
  
  
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    text-align: justify;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
  }
  
  #myImg:hover {opacity: 0.7;}

  .register {
    margin: 30px auto;
    padding: 5px 15px; /* Reduced padding for smaller size */
    font-size: 20px; /* Smaller font size */
    border-radius: 4px; /* Rounded corners */
    text-align: center; /* Align text within the button */
    background-color: #FFF840; /* Button color */
    color: #35005a; /* Text color */
    cursor: pointer;
    transition: 0.3s;
    display: inline-block; /* Ensure proper layout for centering */
    border: none; /* Remove any default border */
}
  
  .register:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    
    z-index: 1; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: #35005a; /* Fallback color */
    background-color: rgba(53, 0, 90,0.8);/* Black w/ opacity */
  }
  
  
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 100vw; /* Prevents overflow horizontally */
    max-height: 100vh;
    color: #ffffff;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
    text-align: center;
    color: #ccc;
    padding: 1vh 0;
    height: auto;
    margin-top: 5vh;
    width: 60%;
    align-items: center;
    font-style: justify;
    border: #f1f1f1;
    border-style: dotted;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
      /* Mobile Styles */
      @media (max-width: 767px) {
        .modal {
            padding-top: 10vh; /* Move modal higher on mobile */
        }
    
        .modal-content {
            padding: 15px;
            font-size: 1rem;
            width: 100%;
        }
    
        .close {
            top: 5vh; /* Adjust close button position */
            font-size: 30px;
        }
    
        #caption {
            width: 90%;
            margin-top: 2vh; /* Reduce margin on mobile */
        }
    }
  /* The Close Button */
  .close {
    position: absolute;
    top: 10vh;
    right: 10vw;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }



.submenu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.submenu button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #b0b0b0; /* Gray color for text */
    padding: 15px 20px;
    transition: color 0.3s, transform 0.2s;
}

.submenu button:hover {
    color: #35005a; /* White text on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.submenu button.active {
    color:#FFF840;/* White text for active button */
}

.content {
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 700px) {
    .submenu {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 30px;
    }
    
    .submenu button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #b0b0b0; /* Gray color for text */
        padding: 13px 13px;
        transition: color 0.3s, transform 0.2s;
    }
    
    .submenu button:hover {
        color: #35005a; /* White text on hover */
        transform: scale(1.1); /* Slightly enlarge on hover */
    }
    
    .submenu button.active {
        color:#FFF840;
    }
    
    .content {
        font-size: 16px;
        line-height: 1.6;
    }
    
}
