.tab {
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: black;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 100px;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
    color: black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: white;
    color: black;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    text-align: center;
    position: relative;
  }

.excel{
  width: 600px;
  height: 600px;
}

@media only screen and (max-width: 620px) {
  .excel{
    width: 346px;
  }
}